
.icon-twitch:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-html5:before { content: '\e804'; } /* '' */
.icon-css3:before { content: '\e805'; } /* '' */
.icon-ie:before { content: '\e806'; } /* '' */
.icon-chrome:before { content: '\e807'; } /* '' */
.icon-firefox:before { content: '\e808'; } /* '' */
.icon-opera:before { content: '\e809'; } /* '' */
.icon-ie-1:before { content: '\e80a'; } /* '' */