body
{
	background-color: #fff;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	margin: 0 !important;
}
#content
{
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 160px;
	text-align: center;
	letter-spacing: 8px;
	text-transform: uppercase;
	padding-top: 40px;
	font-size: 80px;
	font-weight: 600;
}
#nav
{
    width: 100%;
    min-height: 50px;
    background-color: #eee;
    text-align: center;
}
#tresc
{
	width: 1160px;
	padding: 20px;
	background-color: #eee;
	margin-top: 10px;
	text-align: center;
	min-height: 200px;
	margin-left:auto;
	margin-right: auto;
}
#footer
{
	width: 100%-40px;
	background-color: #eee;
	margin-top: 10px;
	padding: 20px;
	text-align: center;
}
#youtube
{
	width: 270px;
	height: 388px;
	background-color: #ddd;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#youtube:hover
{
	background-color: #b31217;
    transform: scale(1.2,1.2);
    border: 3px solid #910005;
    width: 264px;
    height: 382px;
}
#facebook
{
	width: 270px;
	height: 388px;
	background-color: #ddd;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#facebook:hover
{
	background-color:#3B5998;
    transform: scale(1.2,1.2);
    border: 3px solid #193776;
        width: 264px;
    height: 382px;
}
#github
{
	width: 270px;
	height: 388px;
	background-color: #ddd;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#github:hover
{
	background-color: #ccc;
    transform: scale(1.2,1.2);
    border: 3px solid #aaa;
        width: 264px;
    height: 382px;
}
#twitch
{
	width: 270px;
	height: 388px;
	background-color: #ddd;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#twitch:hover
{
	background-color: #6441A5;
    transform: scale(1.2,1.2);
    border: 3px solid #422093;
        width: 264px;
    height: 382px;
}
#twitch a, #facebook a, #youtube a, #github a
{
	height: 100%;
	display:block;
}
a.social:link 
{
    color: black;
}
a.social:visited
{
	color:black;
}
#html-footer
{
    min-height: 50px;
    width: 1100px;
    padding:20px;
    margin-top: 10px;
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
}
#html-footer:hover
{
    background-color: #ccc;
    border: 3px solid #aaa;
    width: 1094px;
    min-height: 44px;
    
}
span.html5
{
    font-size: 35px;
    font-weight: 600;
}
#comp
{
    width: 1100px;
    min-height: 50px;
    padding: 20px;
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#comp:hover
{
    background-color: #ccc;
    border: 3px solid #aaa;
    width: 1094px;
    min-height: 44px;

}
ol
{
    text-decoration: none;
    font-size: 50px;
    list-style-type: none;
    display:inline-block;
}
ol > li
{

    text-align: center;
    background-color: #ddd;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    padding: 20px;
    height: 100px;
    margin-left: 20px;
    
    
}
ol > li a
{
    text-decoration: none;
    display: block;
    text-align: center;
    
}