body
{
    background-color: #fff;
    margin: 0 !important;
    font-size: 20px;
}
#content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000;
    min-height: 400px;
    margin-top: 100px;
}
#budowa
{
    font-family: 'Comic Sans MS';
    padding: 100px;
    text-align: center;
    font-size: 90px;
    background-color: #eee;
}